<div class="card">
    <div class="card-body">
        <h5 class="card-title">Users</h5>
        <p class="card-text">Recently updated</p>

        @defer (on viewport) {
        <ul class="list-group">
            @for(user of list; track user.id){
            <li (click)="item(user.id)" class="list-group-item list-group-item-action fav-pointer">
                <span> {{user.name}} </span>
                <span class="fav-user-city">
                    {{user.city}}
                </span>
            </li>
            }
        </ul>
        } @placeholder {
        <p>User list</p>
        } @loading {
        <p>loading...</p>
        }

    </div>
</div>