<div class=row>
    <div class="col-10 offset-1 col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title()}}</h5>
                @defer(on viewport){
                @if(dataIn){
                <div class="fav-margin-bottom">
                    <p>
                        <span class="fav-label fav-media">{{assessment.registry.media}}</span>
                    </p>
                    <div class="">
                        <p>
                            <span class="fav-value">{{assessment.registry.title}} </span>
                        </p>
                        <p>
                            <span class="fav-author">{{assessment.registry.author}}</span>
                            <span class="fav-value-date">{{assessment.registry.productionDate.toLocaleString()| date:
                                "yyyy"}}
                            </span>
                        </p>
                    </div>
                </div>

                <form [formGroup]="assessmentForm" (ngSubmit)="handleSubmit()">
                    <div class="fav-input">
                        <label class="fav-label">Favorite:</label>
                        {{assessmentForm.controls.favorite.value}}
                        <input type="range" min="0" max="9" class="form-range" formControlName="favorite"
                            [value]="assessment.favorite" />

                    </div>
                    <div class="fav-input">
                        <label class="fav-label">Recommend:</label>
                        {{assessmentForm.controls.recommend.value}}
                        <input type="range" min="0" max="9" class="form-range" formControlName="recommend"
                            [value]="assessment.recommend" />
                    </div>

                    <p><span class="fav-label">Last modified:</span>
                        <span class="fav-value-date">{{assessment.registeredAt | date: 'dd-MM-yy - hh:mm:ss'}}</span>
                    </p>

                    <textarea name="notes" class="form-control" formControlName="notes" id="notes" cols="100" rows="10">
                        {{assessment.notes}}
                    </textarea>
                    <div class="fav-actions">
                        <button class="btn btn-secondary" (click)="cancel()">
                            Cancel
                        </button>
                        <button class="btn btn-primary" type="submit" [disabled]="!assessmentForm.valid">Submit</button>
                    </div>
                </form>

                <p>
                    <span (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample">
                        +
                    </span>
                </p>
                <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                        <div class="card-body">
                            <code>
                                <pre>{{assessment | json}}</pre>
                            </code>
                        </div>
                    </div>
                </div>
                }
                }@placeholder {
                <div>Assessment detail</div>
                }
            </div>
        </div>
    </div>
</div>