<div class="fav-margin-bottom">
    @if (list) {
    <h5 class="card-title">Reviews</h5>
    <hr>
    @for(assessment of list; track assessment.id){
    <div [title]="'f.'+assessment.favorite+', r:'+assessment.recommend" class="fav-pointer"
        (click)="gotoItem(assessment)">
        <p>
            <em>{{assessment.registry.media}}</em>
            <span class="fav-value">{{assessment.registry.title}}</span> 
        </p>
        <p>{{assessment.registry.productionDate | date: 'yyyy'}} <span class="fav-author">{{assessment.registry.author}}</span></p>
        <p class="fav-text-align-right">
            Favorite:<span class="fav-value">{{assessment.favorite}}</span>
        </p>
        <p class="fav-text-align-right">
            Recommend:<span class="fav-value">{{assessment.recommend}}</span>
        </p>
        <hr>
    </div>

    }
    @if (sessionService.viewerLogged()) {
    <div class="fav-actions">
        <button class="btn btn-primary" [disabled]="list.length >60" (click)="doAdd()">add</button>
    </div>
    }

    }
</div>