
    <div class=row>
        @if(resIn){

        <div class='fav-margin-top'>
            <div class="card">
                <div class="card-body">

                    <p>
                        <span class="fav-label">Name:</span>
                    <span class="fav-value">{{user.name}}</span>
                    </p>
                    <p>
                        
                    <span class="fav-label">City:</span>
                    <span class="fav-value">{{user.city}}</span>
                    
                    </p>
                    <p>

                        <span class="fav-label">Born:</span>
                        <span class="fav-value">({{user.birth==null ?'...':user.birth}})</span>
                    </p>


                    <a (click)="isSettingsCollapsed = !isSettingsCollapsed" [attr.aria-expanded]="!isSettingsCollapsed"
                        aria-controls="collapseSettings"> User settings </a>

                    <div id="collapseSettings" [ngbCollapse]="isSettingsCollapsed">
                        <div class="card fav-margin-top">
                            <div class="card-body">
                                <code><pre>{{user | json}}</pre></code>
                            </div>
                        </div>
                        
                        <div class="fav-actions fav-margin-top">
                            <button class="btn btn-danger" (click)="deleteUserAsk()">Delete user</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class='fav-margin-top'>
            <div class=row>
                <div class="col-10 offset-1 col-lg-8 offset-lg-2">
                    <app-assessment-user-list [userId]='user.id.toString()' />
                </div>
            </div>
        </div>

        }
    </div>
