<div class=row>


    <div class="col-12">
        <div class=row>
            <div class=col-12>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title margin-bottom">Explore the Registered Works</h5>
                        <!-- <p>The most valued</p> -->
                        <app-registry-list [listLite]="false" [media]="media" [assessment]="assessment" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>