<div class=row>
    <div class="col-12">
        @if(!searchCardActive){

        <div class=row>
            <div class=col-12>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fav-margin-bottom">Explore the Registered Works</h5>
                        <app-registry-list [listLite]="false" [media]="media" [assessment]="assessment" />
                    </div>
                </div>
                <div class="fav-actions">
                    <button class="btn btn-secondary" (click)="searchCard(true)">add Registy</button>
                </div>
            </div>
        </div>
        }
        @if(searchCardActive){
        <div class="row fav-margin-top">

            <div class="col-12">
                <div class="card">
                    <h5 class="card-title">Find Work</h5>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" [(ngModel)]="searchText" name="title"
                            placeholder="A tale of two cities" (keyup)="search()">
                    </div>
                </div>
                <ul class="list-group">
                    @for (registry of searchResult; track registry.id){
                        <li class="list-group-item fav-pointer" [routerLink]="['/registry/'+registry.id]">{{registry.title}}</li>
                    }
                    @if(searchResult.length<1) { 
                        <li class="list-group-item"> ... </li>
                    }

                </ul>
            </div>
        </div>
        <div class="fav-actions">
            <button class="btn btn-secondary" (click)="searchCard(false)">Find existing one</button>
        </div>
        }
    </div>
</div>