<p>Los más valorados</p>
<div class=row>
<div class=col-3>
    <app-assessment media="book" assessment='favorite'></app-assessment>
</div>
<div class=col-3>
    <app-assessment media="film" assessment='favorite'></app-assessment>
</div>
<div class=col-3>
    <app-assessment media="comic" assessment='favorite'></app-assessment>
</div>
<div class=col-3>
    <app-assessment media="serie" assessment='favorite'></app-assessment>
</div>
</div>
<hr>
<p>Los más recomendados</p>
<div class=row>
<div class=col-3>
    <app-assessment media="book" assessment='recommend'></app-assessment>
</div>
<div class=col-3>
    <app-assessment media="film" assessment='recommend'></app-assessment>
</div>
<div class=col-3>
    <app-assessment media="comic" assessment='recommend'></app-assessment>
</div>
<div class=col-3>
    <app-assessment media="serie" assessment='recommend'></app-assessment>
</div>
</div>