<div class=row>
    <div class=col-2>
        <app-user-list></app-user-list>
    </div>
    <div class=col-10>
        <p>Los más valorados</p>
        <div class=row>
            <div class=col-3>
                <app-assessment-list media="book" assessment='favorite'></app-assessment-list>
            </div>
            <div class=col-3>
                <app-assessment-list media="film" assessment='favorite'></app-assessment-list>
            </div>
            <div class=col-3>
                <app-assessment-list media="comic" assessment='favorite'></app-assessment-list>
            </div>
            <div class=col-3>
                <app-assessment-list media="serie" assessment='favorite'></app-assessment-list>
            </div>
        </div>
        <hr>
        <p>Los más recomendados</p>
        <div class=row>
            <div class=col-3>
                <app-assessment-list media="book" assessment='recommend'></app-assessment-list>
            </div>
            <div class=col-3>
                <app-assessment-list media="film" assessment='recommend'></app-assessment-list>
            </div>
            <div class=col-3>
                <app-assessment-list media="comic" assessment='recommend'></app-assessment-list>
            </div>
            <div class=col-3>
                <app-assessment-list media="serie" assessment='recommend'></app-assessment-list>
            </div>
        </div>

    </div>

</div>