<div class=row>
    <div class="col-md-3">
        <app-user-list />
    </div>
    <div class="col-md-9">
        <p>The most valued</p>
        <div class=row>
            <div class=col-md-3>
                <app-registry-list media="book" assessment="favorite" />
            </div>
            <div class=col-md-3>
                <app-registry-list media="film" assessment="favorite" />
            </div>
            <div class=col-md-3>
                <app-registry-list media="comic" assessment="favorite" />
            </div>
            <div class=col-md-3>
                <app-registry-list media="serie" assessment="favorite" />
            </div>
        </div>
        <hr>
        <p>The most recommended</p>
        <div class=row>
            <div class=col-md-3>
                <app-registry-list media="book" assessment="recommend" />
            </div>
            <div class=col-md-3>
                <app-registry-list media="film" assessment="recommend" />
            </div>
            <div class=col-md-3>
                <app-registry-list media="comic" assessment="recommend" />
            </div>
            <div class=col-md-3>
                <app-registry-list media="serie" assessment="recommend" />
            </div>
        </div>

    </div>

</div>