<div class="card" style="/* width: 18rem; */">
    <div class="card-body">
        <h5 class="card-title">{{media}}</h5>
        <p class="card-text" *ngIf="favorite">lista de favoritos.</p>
        <p class="card-text" *ngIf="recommend">lista de recomendaciones.</p>
        

        <ul class="list-group" *ngIf="res" style="    max-height: 28rem;
        overflow-y: scroll;">
            <hr>
            <li *ngFor="let assessment of res.content" class="list-group-item" >{{assessment.registry.title}}</li>
        
        </ul>
        
    </div>
</div>
