<div *ngIf="resIn">
    <h5 class="card-title">{{media}}</h5>
    <!-- <p class="card-text" *ngIf="favorite" style="font-family: monospace;">lista de favoritos.</p>
    <p class="card-text" *ngIf="recommend" style="font-family: monospace;">lista de recomendaciones.</p> -->
    <hr>
        <div [title]="'f.'+assessment.favorite+', r:'+assessment.recommend" *ngFor="let assessment of res.content" (click)="item(assessment)">
            <p>
                {{assessment.registry.title}}
            </p>
        </div>
        <div *ngIf="sessionService.userLogged && res.content.length<8">
            <p><span style="color: red;">+</span></p>
        </div>
    
</div>
