<div class="col-6 offset-3">
    <div class="card">
        <div class="card-body">

            <div class="card">

                <div *ngIf="resIn">
                    <ul>
                        <li *ngFor="let assessment of list" (click)="item(assessment)">

                            <p class="notes">
                                {{assessment.user.name}} - {{assessment.user.city}}
                                <span style="font-weight: bold;">{{assessment.favorite}}</span>
                                <span style="font-family: monospace; ">Favorite:</span>
                                <span style="font-weight: bold;">{{assessment.recommend}}</span>
                                <span style="font-family: monospace; ">Recommend:</span>
                            </p>
                            <p style="text-align: right;">{{assessment.notes}}</p>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>