<div class=card>
    <div>
        <span>E-mail</span>&nbsp;
        <input type="text" id="eMail" placeholder="john@london.exp" [(ngModel)]="eMail">
    </div>
    <div>
        <span>Password</span>&nbsp;<input type="password" id="password" disabled value="****">
        <input type="button" (click)="continue()" value="enter">
    </div>
</div>

<!-- <p><code>ToDo inputs</code></p> -->
<!-- @if (sessionService.userLogged){ 
    <p><code>logged as {{sessionService.user.name}}</code></p>
     } 
 -->