<div class=row>
    <div class='col-12'>
        <div class="card">
            @defer {

            <div class="card-body">
                <h4 class="card-title" class="fav-media">{{registry?registry['media']: '' }}</h4>
                <h2>
                    <span class="fav-title">
                        {{registry? registry['title']: ''}}
                    </span>
                </h2>

                <p>
                    <span class="fav-label">Author:</span>
                    <span class="fav-value">
                        {{registry? registry['author']: ''}}
                    </span>
                </p>
                <p>
                    <span class="fav-label">Production Date:</span>
                    <span class="fav-value">{{registry? registry['productionDate']: ''}}</span>
                </p>

            </div>

            <div class="card-body">

                @if(registry.registrations){

                <h6 class="card-title">Statistics</h6>
                <hr>
                <app-assessment-statistical-summary [mentions]='registry.mentions' [favoriteSum]="registry.favoriteSum" [recommendSum]="registry.recommendSum"/>
                }@else {
                <h6 class="card-title">No mentions found</h6>
                }

                <div class="fav-actions">
                    <button type="button" class="btn btn-secondary" (click)="goBack()">
                        back
                    </button>

                    <button type="button" class="btn btn-primary" (click)="gotoNewAssessment(paramId)">
                        Add Assessment
                    </button>

                    @if(registry.registrations){

                    <button type="button" class="btn btn-primary" (click)="goToItemAssessments(paramId)">
                        See all assessments
                    </button>
                    }@else {

                    <button type="button" class="btn btn-primary" (click)="deleteRegistry(paramId)">
                        Delete registry
                    </button>
                    }
                </div>
                <p>
                    <span (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample">
                        +
                    </span>
                </p>
                <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                        <div class="card-body">
                            <code><pre>{{registry | json}}</pre></code>
                        </div>
                    </div>
                </div>

            </div>
            }
        </div>
    </div>
</div>