<div class=row>
    <div class='col-6 offset-3 separe-to-down'>
        <div class="card">
            <div class="card-body" *ngIf=registryIn>
                <h5 class="card-title">Registry</h5>
                <p>
                    <span style="font-family: monospace; ">Title:</span>
                    <span style="font-weight: bold;">{{registry?
                        registry['title']: ''}}</span>
                </p>
                <p>
                    <span style="font-family: monospace; ">Media:</span>
                    <span style="font-weight: bold;">{{registry?
                        registry['media']: ''}}
                    </span>
                </p>
                <p>
                    <span style="font-family: monospace; ">Author:</span>
                    <span style="font-weight: bold;">{{registry?
                        registry['author']: ''}}
                    </span>
                </p>
                <p>
                    <span style="font-family: monospace; ">Production Date:</span>
                    <span style="font-weight: bold;">{{registry? registry['productionDate']: ''}}</span>
                </p>

            </div>

            <div class="card-body" *ngIf=registryIn>

                <h6 class="card-title">Statistics</h6>
                <hr>
                    <app-assessment-statistical-summary [registryId]='paramId'></app-assessment-statistical-summary>

                <button class="btn btn-primary" (click)="item(paramId)">See all assessments</button>
                <p>
                    <span (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample">
                        +
                    </span>
                </p>
                <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                        <div class="card-body">
                            <code><pre *ngIf=registryIn>{{registry | json}}</pre></code>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>