<div class="row">

    <div class="col-12">
        <div class="card">

            @defer {
            <div class="card-body">
                <h4 class="card-title" style="text-transform: capitalize;">{{registry['media'] }}</h4>
                <h2>
                    <span style="font-weight: lighter;">{{registry?
                        registry['title']: ''}}</span>
                </h2>

                <p>
                    <span style="font-family: monospace; ">Author:</span>
                    <span style="font-weight: bold;">{{registry?
                        registry['author']: ''}}
                    </span>
                </p>
                <p>
                    <span style="font-family: monospace; ">Production Date:</span>
                    <span style="font-weight: bold;">{{registry? registry['productionDate']: ''}}</span>
                </p>

            </div>

            <div class="card-body">

                <div class="card">


                    <ul>
                        @for(assessment of list; track assessment.id){

                        <li (click)="item(assessment)">

                            <p class="notes">
                                {{assessment.user.name}} - {{assessment.user.city}}
                                <span style="font-weight: bold;">{{assessment.favorite}}</span>
                                <span style="font-family: monospace; ">Favorite:</span>
                                <span style="font-weight: bold;">{{assessment.recommend}}</span>
                                <span style="font-family: monospace; ">Recommend:</span>
                            </p>
                            <p style="text-align: right;">{{assessment.notes}}</p>

                        </li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>

    </div>
</div>