<div class="row">
    <div class="col-12">
        <div class="card">

            @defer {
            <div class="card-body">
                <h4 class="card-title" class="fav-media">
                    {{registry['media'] }}
                </h4>
                <h2>
                    <span class="fav-title">
                        {{registry? registry['title']: ''}}
                    </span>
                </h2>
                <p>
                    <span class="fav-label">Author:</span>
                    <span class="fav-value">
                        {{registry? registry['author']: ''}}
                    </span>
                </p>
                <p>
                    <span class="fav-label">Production Date:</span>
                    <span class="fav-value">
                        {{registry? registry['productionDate']: ''}}
                    </span>
                </p>

            </div>

            <div class="card-body">
                <div class="card">
                    <ul>
                        @for(assessment of list; track assessment.id){

                        <li (click)="item(assessment)" class="fav-pointer">
                            <p class="notes">
                                {{assessment.user.name}} - {{assessment.user.city}}
                                <span class="fav-value">{{assessment.favorite}}</span>
                                <span class="fav-label">Favorite:</span>
                                <span class="fav-value">{{assessment.recommend}}</span>
                                <span class="fav-label">Recommend:</span>
                            </p>
                            <p class="fav-text-align-right">{{assessment.notes}}</p>

                        </li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>
    </div>
</div>