<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #loginUserform="ngForm" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="eMail" placeholder="name@example.com"
                [(ngModel)]="loginUser.eMail" name="eMail" #eMail="ngModel" required>
            <label for="eMail">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password"
                [(ngModel)]="loginUser.password" name="password" #password="ngModel" required>
            <label for="password">Password</label>
        </div>

        <div [hidden]="eMail.valid || eMail.pristine" class="alert alert-danger">
            E-mail is required
        </div>

        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!loginUserform.form.valid">Sign
            up</button>
        <hr class="my-4">
        <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
    </form>
</div>
<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9">{{ loginUser.eMail }}</div>
    </div>
    <p>please wait</p>
</div>
<div>
    @if (sessionService.userLogged){
    <p><code>logged as {{sessionService.user.name}}</code></p>
    } @else {
    <p><code>no logged</code></p>
    }
</div>