<div class=row>
  @defer(on viewport){
  @if(assessment){
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="fav-margin-bottom" (click)="item('viewer', assessment.viewer.id)">
          <p>
            <span class="fav-viewer-info-name">{{assessment.viewer.name}}</span>
            @if(assessment.viewer.birth){
            <span class="fav-viewer-info">{{assessment.viewer.birth}}</span>
            }
            <span class="fav-viewer-info"> - {{assessment.viewer.city}}</span>
          </p>
        </div>

        <div (click)="item('registry', assessment.registry.id)">
          <p>
            <span class="fav-label fav-media">{{assessment.registry.media}}</span>
          </p>
          <div class="">
            <p>
              <span class="fav-value">{{assessment.registry.title}} </span>
            </p>
            <p>
              <span class="fav-author">{{assessment.registry.author}}</span>
              <span class="fav-value-date">{{assessment.registry.productionDate.toLocaleString()| date: "dd-MM-yyyy"}}
              </span>
            </p>
          </div>
        </div>

        <p><span class="fav-label">Favorite:</span>
          <span class="fav-value">{{assessment.favorite | score}}</span>
        </p>

        <p><span class="fav-label">Recommend:</span>
          <span class="fav-value">{{assessment.recommend | score}} </span>
        </p>

        <p><span class="fav-label">Modified:</span>
          <span class="fav-value-date">{{assessment.registeredAt | date: "dd-MM-yy - hh:mm:ss"}}</span>
        </p>

        <textarea [contentEditable]="false" name="notes" id="notes" class="notes" cols="100"
          rows="10">{{assessment.notes}}</textarea>
        <div class="fav-actions">
          <button type="button" class="btn btn-secondary"
            (click)="goBack(assessment.registry.id, assessment.viewer.id)">
            back
          </button>
          <button type="button" class="btn btn-primary" (click)="editAssessment(assessment.id)">
            Edit
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteAssessmentAsk(assessment.id)">
            Delete
          </button>

        </div>
        <p>
          <span (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            +
          </span>
        </p>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-body">
              <code>
                  <pre>{{assessment | json}}</pre>
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }

  }@placeholder {
  <div>assessment detail</div>
  }
</div>