/* You can add global styles to this file, and also import other style files */

.margin-top {
    margin-top: 3em;
}

.margin-bottom {
    margin-bottom: 3em;
}

.actions {
    float: right;
    margin-top: 1em;
    
}
.actions button {
    margin-left: .5rem;
}